html 
    head 
        title Quotes API
        style(type='text/css').
            pre{
                word-wrap: break-word;
                white-space: pre-wrap;
            }
    body 
        pre #{quotes}